# Cloudflare Credentials
CLOUDFLARE_API_TOKEN=

# ACME Account & Target Domain
ACME_EMAIL=""
BASE_DOMAIN=""

# Environment toggle: "prod" or "staging"
LE_ENV="staging"

# ACME Server endpoint
if [ "${LE_ENV}" = "prod" ]; then
  ACME_SERVER="https://acme-v02.api.letsencrypt.org/directory"
else
  ACME_SERVER="https://acme-staging-v02.api.letsencrypt.org/directory"
fi

# Resource Names & Target Namespace
CERT_NAMESPACE="default"
CERT_NAME="wildcard-${BASE_DOMAIN//./-}-cert"
CERT_SECRET_NAME="wildcard-${BASE_DOMAIN//./-}-tls"