# Cloudflare Credentials
CLOUDFLARE_API_TOKEN=BRbOrJclfRHN7myNeIyqgko35u8KT4x9UivYnM_s

# ACME Account & Target Domain
ACME_EMAIL="ioan.ferencik@undp.org"
BASE_DOMAIN="undpgeohub.org"

# Environment toggle: "prod" or "staging"
LE_ENV="prod"

# ACME Server endpoint
if [ "${LE_ENV}" = "prod" ]; then
  ACME_SERVER="https://acme-v02.api.letsencrypt.org/directory"
else
  ACME_SERVER="https://acme-staging-v02.api.letsencrypt.org/directory"
fi

# Resource Names & Target Namespace
CERT_NAMESPACE="default"
CERT_NAME="wildcard-${BASE_DOMAIN//./-}-cert"
CERT_SECRET_NAME="wildcard-${BASE_DOMAIN//./-}-tls"